<% @events.each do |book| %>
  <div id="column1">
      <tr>
        <td><%= book.hostname %></td>
        <td><%= book.servicename %></td>
        <td><%= book.message %></td>
     </tr>
  </div>
    <% end %>
<br />
</div>


